.main-container {
    margin: 30px;
    /*margin: auto;*/
    /*margin-top: 60px;*/
    /*margin: 20px 0px 20px 0px;*/
}

.redBg {
    background-color: red;
}

.custom-table-style {
    width: 100%;
}

.custom-table-style td, .custom-table-style th {
    color: white;
    background-color: black;

    border: solid;
    border-color: red;

    text-align: center;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}