<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="Description"
          content="angular html table sorting sortable pagination paging page ng-table angular-table bootstrap">

    <title>Repositories</title>
    <script src="./node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="./bower_components/at-table/dist/angular-table.min.js"></script>
    <script type="text/javascript" src="./angular-tabs.min.js"></script>
    <script type="text/javascript" src="./examplesModule.js"></script>

    <link rel="stylesheet" type="text/css" href="./css/syntax.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">

</head>
<body>

<div class="main-container" ng-app="angular-table-example" ng-controller="gitHubCtrl">
    <div class="container">
        <h1>Repositories</h1>
        <br>

        <!--<div class="dropdown col-lg-1 col-md-2">
            <button ng-model="gitType" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select:
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-model="url.type">
                <li><a href="#" value="users">Users</a></li>
                <li><a href="#" value="orgs">Organization</a></li>
            </ul>
        </div>-->


        <!--<form class="form-inline" novalidate ng-submit="fetchRepos(url.type, url.name)">
            <div class="form-group">
                <div class="input-group">

                    <input type="text"
                           ng-model="url.name"
                           class="form-control" placeholder="Enter username" autofocus/>
                </div>
            </div>
            <input type="button"
                   value="Get Repositories"
                    ng-click="fetchRepos(url.type, url.name)"
                    class="btn btn-primary" />
        </form>-->

        <form class="form-inline" novalidate ng-submit="fetchRepos(url.type, url.name)">
            <div class="form-group">
                <div class="input-group">
                    <div class="col-lg-2">
                        <span class="input-group-btn">
                        <select class="btn" ng-model="url.type">
                          <option value="users">User</option>
                          <option value="orgs">Organization</option>
                        </select>
                    </span>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" ng-model="url.name">
                    </div>
                    <div class="col-lg-1">
                        <input type="button"
                               value="Get Repositories"
                               ng-click="fetchRepos(url.type, url.name)"
                               class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" at-table at-paginated at-list="repos"
                       at-config="config">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td at-implicit at-sortable at-attribute="id" width="150"
                            at-initial-sorting="asc"></td>
                        <td at-implicit at-sortable at-attribute="name" width="250"></td>
                        <td at-implicit at-sortable at-attribute="size"></td>
                        <td at-implicit at-sortable at-attribute="updated_at"></td>
                    </tr>
                    </tbody>
                </table>
                <at-pagination at-list="repos" at-config="config"></at-pagination>
            </div>
        </div>
    </div>
</div>
</body>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
</script>

<script src="app.js"></script>

<script type="text/javascript">

</script>
</html>

